<!DOCTYPE html>
html(lang="en")
  head
    link(rel='stylesheet' href='styles.css')
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    table
      tr
        th 🦆 Duck Hunt - High Scores 🦆
      for score in scores
        tr
          td= score.place
          td= score.initials
          td= score.score



